@model FanGuide.ViewModels.TeamDetailsViewModel
@{
    ViewBag.Title = "Team details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Team.Name</h2>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Property</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Sport</td>
            <td>@Model.Team.Sport.Name</td>
        </tr>
        <tr>
            <td>Athletes</td>
            <td>
                <ul>
                    @foreach (var athlete in Model.Athletes)
                    {
                    <li>@athlete.Name | @athlete.TeamRole.Name </li>
                    }
                </ul>
            </td>
        </tr>
    </tbody>
</table>
